﻿@{
    ViewBag.Title = "Add Movie";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_MovieFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}