@model IEnumerable<AllMoviesViewModel>

@{
	ViewBag.Title = "Movies";
}
<h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>
<hr />

<partial name="_MovieAllPartial" model="@Model"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}