@{
    ViewBag.Title = "Edit Movie";
    ViewData["ButtonLabel"] = "Edit";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_MovieFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}