@model DirectorViewModel

@{
    ViewBag.Title = "Add Director";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_DirectorFormPartial" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}