@model IEnumerable<AllDirectorsViewModel>

@{
	ViewBag.Title = "Directors";
}
<h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>

<partial name="_DirectorAllPartial" model="@Model"/>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
