@model IEnumerable<AllDirectorsViewModel>

<h1 class="text-center">Directors</h1>

<div class="directors-list">
    @foreach (var director in Model)
    {
        <div class="director-item">
            <a href="@Url.Action("Details", "Director", new { id = director.Id })">
                <img src="@director.ImageUrl" alt="@director.Name" class="director-image" />
                <span class="director-name">@director.Name</span>
            </a>
        </div>
    }
</div>