@model DirectorDeleteViewModel

@{
    ViewBag.Title = "Delete Director";
}

<div class="container">
    <h1 class="text-center">Delete Director</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Name" style="max-width: 300px; height: auto;" />
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <h4>@Model.Name</h4>
            <form asp-controller="Director" asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger mr-2">Delete</button>
                <a asp-controller="Director" asp-action="All" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
