@model ReviewViewModel

@{
    ViewBag.Title = "Add View";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ReviewFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}