@model ActorViewModel

@{
    ViewBag.Title = "Add Actor";
    ViewData["ButtonLabel"] = "Add";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ActorFormPartial" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}