@model ActorViewModel

@{
    ViewBag.Title = "Edit Actor";
    ViewData["ButtonLabel"] = "Edit";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ActorFormPartial" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}